# **MongoDB** 存储

## 1.连接MongoDB，并指定数据库、集合

In [10]:
import pymongo
client = pymongo.MongoClient('localhost',27017)
db = client['test']
students = db['students']

## 2.插入数据

In [11]:
student1 = {
    'id' : '001',
    "name": "Bob",
    "gender": "male",
    "birthday": "1-4"
}
student2 = {
    "id": "002",
    "name": "John",
    "gender": "male",
    "birthday": "5-20"
}

students.insert_many([student1,student2])

## 3.查询

In [38]:
# 查找1条数据
students.find_one({'name':'Bob'})

{'_id': ObjectId('5b1f564867524234fcfe8f26'),
 'age': 23,
 'birthday': '5-20',
 'gender': 'male',
 'id': '002',
 'name': 'Peter'}

In [46]:
# 查找多条数据
[student for student in students.find({'name':'John'})]

[{'_id': ObjectId('5b1f64196752422584c6cc54'),
  'birthday': '5-20',
  'gender': 'male',
  'id': '002',
  'name': 'John'},
 {'_id': ObjectId('5b1f65296752422584c6cc56'),
  'birthday': '5-20',
  'gender': 'male',
  'id': '002',
  'name': 'John'},
 {'_id': ObjectId('5b1f67d36752422584c6cc59'),
  'birthday': '5-20',
  'gender': 'male',
  'id': '002',
  'name': 'John'}]

## 4.计数

In [ ]:
students.find({'gender':'male'}).count()

## 5.排序

In [27]:
# 也可在sort传入排序标志。升序：pymongo.ASCENDING, 降序：pymongo.DESCENDING
[student['name'] for student in students.find().sort('name')]

['Bob',
 'John',
 'John',
 'John',
 'John',
 'John',
 'John',
 'Mike',
 'Mike',
 'Mike',
 'Mike',
 'Tom']

## 6.偏移

In [20]:
# skip()方法指定偏移几个位置，limit()指定要取的数量
[student['name'] for student in students.find().sort('name').skip(2).limit(5)]

['Bob', 'Bob', 'Bob', 'Bob', 'John']

## 7.更新

In [28]:
# 更新一条数据
# 推荐使用update_one()而不是update()
# update_one()第二个参数不能直接传入修改后的字典，而是需要用{'$set':student}这种形式
condition = {'name':'Bob'}
student = students.find_one(condition)
student['name'] = 'Bob'
result = students.update_one(condition, {'$set':student})
print(result)
print(result.matched_count, result.modified_count)

<pymongo.results.UpdateResult object at 0x0000020285E1F248>
1 0

In [43]:
# 更新多条数据
# 年龄小于等于22岁的人年龄增长1岁
condition = {'age':{'$lte':22}}
result = students.update_many(condition, {'$inc':{'age':1}})
print(result)
print(result.matched_count, result.modified_count)

<pymongo.results.UpdateResult object at 0x0000020285E7CD88>
1 1

## 8.删除

In [48]:
# result = students.delete_one({'name':'John'})
# print(result,result.deleted_count)

result = students.delete_many({'name':'John'})
print(result,result.deleted_count)

<pymongo.results.DeleteResult object at 0x00000202844DBA08> 2